{% extends 'hospital/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<head>


</head>

<!------ signup page for doctor by admin()  ---------->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="">
    <div class="h-100 bg-dark">

<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="{% static 'images/hero.png' %}"
              alt="Sample photo" class="img-fluid"
              style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" /> 
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Register in Secure Online Telemedicine System</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {% render_field userForm.username class="form-control" placeholder="Username" %}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {% render_field userForm.password class="form-control" placeholder="Password" %}
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  {% render_field patientForm.mobile class="form-control" placeholder="Mobile Number / Email" %} 
                </div>

                <div class="form-outline mb-4">
                  {% render_field patientForm.address class="form-control" placeholder="Address" %}
                </div>

                <div class="form-outline mb-4">
                  {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
                </div>

                <div class="form-outline mb-4">
                  {% render_field patientForm.assignedDoctorId class="form-control" placeholder="Doctor" %}
                </div>
                <div class="form-outline mb-4">
                  {% render_field patientForm.profile_pic required="required" class="form-control" placeholder="Profile Picture" %}
                </div>


               

                <div class="d-flex justify-content-end pt-3">
               
                  <button type="submit" class="btnSubmit">Register</button>
                </div>
         

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>  
</div>
</form>

{% endblock content %}
